# env/editor
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.vscode/

data/

#  ignore all artifacts (too big)
artifacts/**

# but KEEP run metadata + paper outputs inside artifacts
!artifacts/**/run_*/run_manifest.json
!artifacts/**/run_*/run_hyperparams.json
!artifacts/**/run_*/paper/**
!artifacts/**/run_*/metrics/**
